<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.loecsen.orizonlang"
	versionCode="10"
	version   = "1.0.0">

	<name>Orizon Lang</name>

	<description>
		Easily learn a few sentences for your travels
	</description>

	<author href="http://www.moon1.org" email="contact@moon1.tv">
		Moon One
	</author>

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="fullscreen" value="true" />

	<!-- icons for iOS -->
	<icon src="images/iOS/icon-57.png" gap:platform="ios" width="57" height="57" />
	<icon src="images/iOS/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="images/iOS/icon-114.png" gap:platform="ios" width="114" height="114" />

	<!-- icons for Android 
	<icon src="images/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="images/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="images/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="images/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
-->
	<!-- icons for Blackberry 
	<icon src="images/bb/icon.png" gap:platform="blackberry" />
	<icon src="iimages/bb/icon_hover.png" gap:platform="blackberry" gap:state="hover"/>	
-->
	<!-- icons for Windows Phone 
	<icon src="images/winphone/icon.png" gap:platform="winphone" />
	<icon src="images/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />
-->

<!--
	<gap:splash src="splash/ios/Default.png" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
	<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
	<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
	<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
	
	Android
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	
	BlackBerry
	<gap:splash src="splash/bb/splash.png" gap:platform="blackberry" />
	
	Windows Phone
	<gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />
-->

</widget>
